.App {
  text-align: center;
  position: relative;
  width:360px;
  margin:auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.GameHeader{
  height: 90px;
  max-width:360px;
  margin:auto;
  margin-top: 30px
}

.cell{
  width: 30px;
  height: 30px;
  margin-right:5px;
  margin-left: 5px;
  display: inline-table;
  border-radius: 15px;
}


.cell-marble-1{
  background-image: url('/public//marble-1.png');
  background-size: contain;
  border: solid 0.5px white;
}


.cell-marble-2{
  background-image: url('/public//marble-2.png');
  background-size: contain;
  border: solid 0.5px white;
}


.cell-marble-3{
  background-image: url('/public//marble-3.png');
  background-size: contain;
  border: solid 0.5px white;
}


.cell-marble-4{
  background-image: url('/public//marble-4.png');
  background-size: contain;
  border: solid 0.5px white;
}


.cell-marble-5{
  background-image: url('/public//marble-5.png');
  background-size: contain;
  border: solid 0.5px white;
}


.cell-marble-6{
  background-image: url('/public//marble-6.png');
  background-size: contain;
  border: solid 0.5px white;
}


.cell-marble-7{
  background-image: url('/public//marble-7.png');
  background-size: contain;
  border: solid 0.5px white;
}


.cell-marble-8{
  background-image: url('/public//marble-8.png');
  background-size: contain;
  border: solid 0.5px white;
}


.cell-marble-9{
  background-image: url('/public//marble-9.png');
  background-size: contain;
  border: solid 0.5px white;
}

.cell-empty{
  background-color: black;
  opacity: 0.5;
}

.cell-selected{
  border: solid 2px red;
}

.board-row{
  box-sizing: inherit;
  height: 41px;
}

.board{
  height: 287px;
  width:287px;
  margin:auto;
  padding-top: 38px;
}

.board-container{
  background-image: url('/public//marble-background.png');
  background-size: contain;
  height: 350px;
  width:350px;
  margin: auto;
}

.reset{
  float: right;
  display: inline;
}

.help{
  float: left;
  display: inline;
}

.MarblesRemaining{
  padding:20px;
  margin:auto;
}

.instruction-box{
  margin-top: 40px;
}

.undo{
  float:left
}

.popup{
  width: 320px;
    height: 500px;
    background-color: white;
    border: 5px solid;
    border-radius: 10px;
    border-color: #666;
    position: absolute;
    top: 50px;
    left:20px;
    padding-top:16px
}

.instructions{
  margin:auto;
}

.popup-close{
  float:right;
  margin-right: 16px
}